.App {
  padding-top: 1px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App h1 {
  cursor: pointer;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-weight: 300;
}

.header {
  background-color: rgb(33, 33, 34);
  width: 100%;
  text-align: center;
  padding-bottom: 15px;
}

.searchForm {
  margin: 10px auto;
}

.searchForm input {
  width: 270px;
  height: 20px;
}

.searchForm button {
  padding: 3px 5px;
  margin-left: 5px;
  background-color: rgb(95, 164, 228);
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.searchForm button:hover {
  background-color: white;
  color: rgb(95, 164, 228);
  font-weight: 600;
}

.appRecipes {
  display: grid;
  text-align: center;
  grid-template-columns: 230px 230px;
  align-items: baseline;
}

@media (min-width: 900px) {
  .appRecipes {
    grid-template-columns: 230px 230px 230px 230px;
  }
}