
.App {
  background-color: rgb(33, 33, 34);
  padding-top: 1px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h1 {
  cursor: pointer;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  font-weight: 300;
}

